@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 13% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 180 13% 95%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 180 13% 95%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 25 65% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 45 96% 54%;
    --accent-foreground: 25 65% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 25 65% 35%;
    --chart-1: 25 65% 29%;
    --chart-2: 180 30% 60%;
    --chart-3: 45 96% 54%;
    --chart-4: 0 70% 60%;
    --chart-5: 200 50% 50%;
    --radius: 0.5rem;
    --sidebar-background: 25 65% 29%;
    --sidebar-foreground: 25 10% 90%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 25 65% 29%;
    --sidebar-accent: 25 65% 35%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 25 65% 32%;
    --sidebar-ring: 45 96% 54%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 25 50% 70%;
    --primary-foreground: 25 65% 15%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 45 96% 54%;
    --accent-foreground: 25 65% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 45 96% 54%;
    --chart-1: 25 50% 70%;
    --chart-2: 180 30% 60%;
    --chart-3: 45 96% 54%;
    --chart-4: 0 70% 60%;
    --chart-5: 200 50% 50%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 25 50% 70%;
    --sidebar-primary-foreground: 25 65% 15%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 45 96% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
